<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    {% if description %}
    <meta name="description" content="{{description}}" />
    {% endif %} {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
  </head>
  <body class="h-screen flex flex-col">
    <div class="flex-1">
      <nav
        class="container max-w-screen-lg mx-auto px-4 flex justify-between py-6 {% if sticky %} sticky top-0 bg-white z-10 {% endif %}"
      >
        <strong
          ><a href="/" class="text-lg">Flow Temperature Toolkit</a></strong
        >
        <div class="flex gap-4">
          <a href="{{ '/principles/' | url }}" class="hover:text-brand-700"
            >Principles</a
          >
          <a href="{{ '/evidence/' | url }}" class="hover:text-brand-700"
            >Evidence</a
          >
          <a href="{{ '/case_studies/' | url }}" class="hover:text-brand-700"
            >Case studies</a
          >
          <a
            href="mailto:sustainablefuture-team@nesta.org.uk?subject=Flow temperature toolkit enquiry"
            class="hover:text-brand-700"
            >Contact</a
          >
        </div>
      </nav>

      {{ content | safe }}
    </div>

    <footer class="py-10 bg-brand-500">
      <div class="container max-w-screen-lg mx-auto px-4 font-bold">
        <div class="flex justify-between">
          <div class="mb-10">
            <a
              href="http://nesta.org.uk"
              target="_blank"
              rel="noopener noreferrer"
              class="block underline hover:no-underline mb-4"
              >About Nesta</a
            >
            <a
              href="https://www.nesta.org.uk/cookies/"
              target="_blank"
              rel="noopener noreferrer"
              class="block underline hover:no-underline mb-4"
              >Cookie policy</a
            >
            <a
              href="{{ '/terms/' | url }}"
              class="block underline hover:no-underline"
              >Terms of use</a
            >
          </div>
          <div class="w-48 text-lg">
            The boiler flow temparature toolkit by Nesta
          </div>
        </div>
        <div class="max-w-screen-md">
          <p class="mb-3">© 2022 Nesta</p>
          <p class="mb-3">
            Nesta is a registered charity in England and Wales 1144091 and
            Scotland SC042833. Our main address is 58 Victoria Embankment,
            London, EC4Y 0DS. You can reach us by phone on 020 7438 2500 or drop
            us a line at information@nesta.org.uk.
          </p>
          <p>
            All our work is licensed under a Creative Commons
            Attribution-NonCommercial-ShareAlike 4.0 International License,
            unless it says otherwise. We hope you find it useful.
          </p>
        </div>
      </div>
    </footer>

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </body>
</html>
