<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}} - Flow Temperature Toolkit</title>
    <meta
      name="description"
      content="Tested principles, guidance and resources to help your users lower their combi boiler's flow temperatures, save money and reduce their carbon emissions."
    />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://flow-temp-toolkit.netlify.app" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Help your users turn down their flow temperature."
    />
    <meta
      property="og:description"
      content="Tested principles, guidance and resources to help your users lower their combi boiler's flow temperatures, save money and reduce their carbon emissions."
    />
    <meta
      property="og:image"
      content="https://flow-temp-toolkit.netlify.app/static/files/social-preview.png"
    />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="flow-temp-toolkit.netlify.app" />
    <meta
      property="twitter:url"
      content="https://flow-temp-toolkit.netlify.app"
    />
    <meta
      name="twitter:title"
      content="Help your users turn down their flow temperature."
    />
    <meta
      name="twitter:description"
      content="Tested principles, guidance and resources to help your users lower their combi boiler's flow temperatures, save money and reduce their carbon emissions."
    />
    <meta
      name="twitter:image"
      content="https://flow-temp-toolkit.netlify.app/static/files/social-preview.png"
    />

    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />

    <script src="https://cc.cdn.civiccomputing.com/9/cookieControl-9.x.min.js"></script>
    <script>
      var config = {
        apiKey: "59ed9ce4a6b17ba7e4499f2d16111388d8eb2b8d",
        product: "PRO_MULTISITE",
        mode: "GDPR",
        initialState: "notify",
        acceptBehaviour: "recommended",
        toggleType: "checkbox",
        rejectButton: false,
        closeOnGlobalChange: true,
        notifyDismissButton: false,
        setInnerHTML: true, // Allow html (links) in text
        text: {
          title: "This website uses cookies.",
          intro:
            '<p>Some of these cookies are essential for allowing the site to function properly, while others help us to improve your experience by providing insights into how the site is being used.</p>\
             <p>You can set your preferences for non-essential cookies using the check boxes below. You can also change your preferences at any point.</p>\
             <p>For more information visit our <a href="https://www.nesta.org.uk/cookies/">cookie policy</a></p>',
          notifyTitle:
            'We use cookies to help us improve this site and your experience. <a href="https://www.nesta.org.uk/cookies/">Find out more</a>.',
          notifyDescription: false,
          acceptRecommended: "Accept recommended settings",
          accept: "Accept recommended cookies",
          necessaryDescription:
            "Necessary cookies enable core functionality such as page navigation and access to secure areas. The website cannot function properly without these cookies, and they can only be disabled by changing your browser preferences.",
          settings: "Set cookie preferences",
        },
        necessaryCookies: ["nesta-about-cookie"],
        optionalCookies: [
          {
            name: "analytics",
            label: "Analytics",
            description:
              "We use analytics cookies to help us understand how you use our website.",
            cookies: [
              "_ga",
              "_gid",
              "_gat",
              "__utma",
              "__utmt",
              "__utmb",
              "__utmc",
              "__utmz",
              "__utmv",
            ],
            recommendedState: true,
            onAccept: function () {
              // Google Tag Manager
              (function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({
                  "gtm.start": new Date().getTime(),
                  event: "gtm.js",
                });
                var f = d.getElementsByTagName(s)[0],
                  j = d.createElement(s),
                  dl = l != "dataLayer" ? "&l=" + l : "";
                j.async = true;
                j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
                f.parentNode.insertBefore(j, f);
              })(window, document, "script", "dataLayer", "GTM-KMGTLRF");
              // End Google Tag Manager
            },
            onRevoke: function () {},
          },
        ],
        position: "LEFT",
        theme: "DARK",
        branding: {
          backgroundColor: "#0f294a",
          toggleText: "#f0f0f0",
          toggleColor: "#0f294a",
          removeAbout: true,
        },
      };
      CookieControl.load(config);
    </script>
  </head>
  <body class="h-screen flex flex-col">
    <!-- Google Tag Manager (noscript) -->
    <noscript id="noscript"
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-KMGTLRF"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="flex-1">
      <nav
        class="container max-w-screen-lg mx-auto px-4 flex justify-between py-6 {% if sticky %} sticky top-0 bg-white z-10 {% endif %}"
      >
        <strong
          ><a href="/" class="text-lg">Flow Temperature Toolkit</a></strong
        >
        <div class="flex gap-4">
          <!-- Menu links here -->
          <ul
            id="menu"
            class="hidden fixed top-0 right-0 px-10 py-16 bg-brand-500 z-50 md:relative md:flex md:p-0 md:bg-transparent md:flex-row md:space-x-6"
          >
            <li class="md:hidden z-90 fixed top-4 right-6">
              <a
                href="javascript:void(0)"
                class="text-right text-4xl"
                onclick="toggleMenu()"
                >&times;</a
              >
            </li>

            <li class="md:mb-0 md:text-base mb-3 text-lg">
              <a class="hover:text-brand-700" href="{{ '/principles/' | url }}"
                >Principles</a
              >
            </li>
            <li class="md:mb-0 md:text-base mb-3 text-lg">
              <a class="hover:text-brand-700" href="{{ '/evidence/' | url }}"
                >Evidence</a
              >
            </li>
            <li class="md:mb-0 md:text-base mb-3 text-lg">
              <a
                class="hover:text-brand-700"
                href="{{ '/case_studies/' | url }}"
                >Case studies</a
              >
            </li>

            <li id="nav-dropdown" class="md:mb-0 md:text-base mb-3 text-lg">
              <div class="flex cursor-pointer hover:text-brand-700">
                Tools
                <svg
                  width="24px"
                  height="24px"
                  stroke-width="1.5"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  color="currentColor"
                >
                  <path
                    d="M6 9l6 6 6-6"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </div>
              <ul
                id="nav-dropdown-menu"
                class="bg-white md:text-right md:pt-3 md:mt-0 mt-3"
              >
                <a href="{{ '/leaflet/' | url }}" class="hover:text-brand-700">
                  <li class="px-4 py-3 ">
                    Leaflet
                  </li>
                </a>
                <a
                  href="{{ '/walkthrough/' | url }}"
                  class="hover:text-brand-700"
                >
                  <li class="px-4 py-3 ">
                    Online tool
                  </li>
                </a>
              </ul>
            </li>

            <li class="md:mb-0 md:text-base mb-3 text-lg">
              <a
                class="hover:text-brand-700"
                href="mailto:MSBC@nesta.org.uk?subject=Flow%20temperature%20toolkit%20enquiry"
                >Contact</a
              >
            </li>
          </ul>

          <!-- This is used to open the menu on mobile devices -->
          <div class="flex items-center md:hidden">
            <button
              class="text-3xl leading-none hover:text-brand-700"
              onclick="toggleMenu()"
            >
              &#9776;
            </button>
          </div>
        </div>
      </nav>

      {{ content | safe }}
    </div>

    <footer class="py-10 bg-brand-900">
      <div class="container max-w-screen-lg mx-auto px-4 mb-2 text-white">
        <div class="flex justify-between">
          <div class="mb-10">
            <a
              href="http://nesta.org.uk"
              target="_blank"
              rel="noopener noreferrer"
              class="block underline hover:no-underline mb-4"
              >About Nesta</a
            >
            <a
              href="https://www.nesta.org.uk/cookies/"
              target="_blank"
              rel="noopener noreferrer"
              class="block underline hover:no-underline mb-4"
              >Cookie policy</a
            >
            <a
              href="{{ '/terms/' | url }}"
              class="block underline hover:no-underline"
              >Terms of use</a
            >
          </div>
          <div class="w-48 text-lg text-right">
            The boiler flow temparature toolkit by Nesta
          </div>
        </div>
        <div class="max-w-lg">
          <p class="mb-3">© 2022 Nesta</p>
          <p class="mb-3">
            Nesta is a registered charity in England and Wales 1144091 and
            Scotland SC042833. Our main address is 58 Victoria Embankment,
            London, EC4Y 0DS. </p>
            <p>You can reach us by phone on 020 7438 2500 or drop
            us a line at information@nesta.org.uk.
          </p>
          <br>
          <p>
            All our work is licensed under a Creative Commons
            Attribution-NonCommercial-ShareAlike 4.0 International License,
            unless it says otherwise. We hope you find it useful.
          </p>
        </div>
      </div>
    </footer>

    <script>
      "use strict";

      var menu = document.getElementById("menu");
      function toggleMenu() {
        menu.classList.toggle("hidden");
        menu.classList.toggle("w-full");
        menu.classList.toggle("h-screen");
      }
    </script>
  </body>
</html>
