<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <meta
      name="description"
      content="Tested principles, guidance and resources to help your users lower their combi boiler's flow temperatures, save money and reduce their carbon emissions."
    />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://flow-temp-toolkit.netlify.app" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Help your users turn down their flow temperature."
    />
    <meta
      property="og:description"
      content="Tested principles, guidance and resources to help your users lower their combi boiler's flow temperatures, save money and reduce their carbon emissions."
    />
    <meta
      property="og:image"
      content="https://flow-temp-toolkit.netlify.app/static/files/social-preview.png"
    />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="flow-temp-toolkit.netlify.app" />
    <meta
      property="twitter:url"
      content="https://flow-temp-toolkit.netlify.app"
    />
    <meta
      name="twitter:title"
      content="Help your users turn down their flow temperature."
    />
    <meta
      name="twitter:description"
      content="Tested principles, guidance and resources to help your users lower their combi boiler's flow temperatures, save money and reduce their carbon emissions."
    />
    <meta
      name="twitter:image"
      content="https://flow-temp-toolkit.netlify.app/static/files/social-preview.png"
    />

    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />

    <script>
      if (sessionStorage.getItem("ftt-cookie-permission") === "accept") {
        <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KMGTLRF');</script>
<!-- End Google Tag Manager -->
    </script>
  </head>
  <body class="h-screen flex flex-col">
   
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KMGTLRF"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <div
      id="ftt-cookie-check"
      style="display: none"
      class="fixed bottom-5 right-5 ml-5 bg-brand-900 text-white p-5 text-lg border-2 border-white drop-shadow"
    >
      <p class="mb-2">
        We use cookies to help us improve this site and your experience.
        <a
          href="https://www.nesta.org.uk/cookies/"
          target="_blank"
          rel="noopener noreferrer"
          class="underline hover:no-underline"
          >Find out more</a
        >
      </p>
      <div class="flex gap-6 font-bold justify-center">
        <a
          id="ftt-accept-cookies"
          class="cursor-pointer underline hover:no-underline"
          >Accept</a
        >
        <a
          id="ftt-reject-cookies"
          class="cursor-pointer underline hover:no-underline"
          >Reject</a
        >
      </div>
    </div>

    <div class="flex-1">
      <nav
        class="container max-w-screen-lg mx-auto px-4 flex justify-between py-6 {% if sticky %} sticky top-0 bg-white z-10 {% endif %}"
      >
        <strong
          ><a href="/" class="text-lg">Flow Temperature Toolkit</a></strong
        >
        <div class="flex gap-4">
          <!-- Menu links here -->
          <ul
            id="menu"
            class="hidden fixed top-0 right-0 px-10 py-16 bg-brand-500 z-50 md:relative md:flex md:p-0 md:bg-transparent md:flex-row md:space-x-6"
          >
            <li class="md:hidden z-90 fixed top-4 right-6">
              <a
                href="javascript:void(0)"
                class="text-right text-4xl"
                onclick="toggleMenu()"
                >&times;</a
              >
            </li>

            <li class="md:mb-0 md:text-base mb-3 text-lg">
              <a class="hover:text-brand-700" href="{{ '/principles/' | url }}"
                >Principles</a
              >
            </li>
            <li class="md:mb-0 md:text-base mb-3 text-lg">
              <a class="hover:text-brand-700" href="{{ '/evidence/' | url }}"
                >Evidence</a
              >
            </li>
            <li class="md:mb-0 md:text-base mb-3 text-lg">
              <a
                class="hover:text-brand-700"
                href="{{ '/case_studies/' | url }}"
                >Case studies</a
              >
            </li>
            <li class="md:mb-0 md:text-base mb-3 text-lg">
              <a
                class="hover:text-brand-700"
                href="mailto:sustainablefuture-team@nesta.org.uk?subject=Flow%20temperature%20toolkit%20enquiry"
                >Contact</a
              >
            </li>
          </ul>

          <!-- This is used to open the menu on mobile devices -->
          <div class="flex items-center md:hidden">
            <button
              class="text-3xl leading-none hover:text-brand-700"
              onclick="toggleMenu()"
            >
              &#9776;
            </button>
          </div>
        </div>
      </nav>

      {{ content | safe }}
    </div>

    <footer class="py-10 bg-brand-500">
      <div class="container max-w-screen-lg mx-auto px-4 font-bold">
        <div class="flex justify-between">
          <div class="mb-10">
            <a
              href="http://nesta.org.uk"
              target="_blank"
              rel="noopener noreferrer"
              class="block underline hover:no-underline mb-4"
              >About Nesta</a
            >
            <a
              href="https://www.nesta.org.uk/cookies/"
              target="_blank"
              rel="noopener noreferrer"
              class="block underline hover:no-underline mb-4"
              >Cookie policy</a
            >
            <a
              href="{{ '/terms/' | url }}"
              class="block underline hover:no-underline"
              >Terms of use</a
            >
          </div>
          <div class="w-48 text-lg">
            The boiler flow temparature toolkit by Nesta
          </div>
        </div>
        <div class="max-w-screen-md">
          <p class="mb-3">© 2022 Nesta</p>
          <p class="mb-3">
            Nesta is a registered charity in England and Wales 1144091 and
            Scotland SC042833. Our main address is 58 Victoria Embankment,
            London, EC4Y 0DS. You can reach us by phone on 020 7438 2500 or drop
            us a line at information@nesta.org.uk.
          </p>
          <p>
            All our work is licensed under a Creative Commons
            Attribution-NonCommercial-ShareAlike 4.0 International License,
            unless it says otherwise. We hope you find it useful.
          </p>
        </div>
      </div>
    </footer>

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

    <script>
      "use strict";

      var menu = document.getElementById("menu");
      function toggleMenu() {
        menu.classList.toggle("hidden");
        menu.classList.toggle("w-full");
        menu.classList.toggle("h-screen");
      }

      if (sessionStorage.getItem("ftt-cookie-permission") === null) {
        document.getElementById("ftt-cookie-check").style.display = "";
        ["ftt-accept-cookies", "ftt-reject-cookies"].forEach(function (id) {
          document.getElementById(id).addEventListener("click", function (e) {
            e.preventDefault();
            sessionStorage.setItem(
              "ftt-cookie-permission",
              this.text.toLowerCase()
            );
            location.reload();
          });
        });
      }
    </script>
  </body>
</html>
