---
layout: default
---

<main>
  <section class="bg-brand-500 py-16 mb-12">
    <div class="max-w-screen-lg mx-auto px-4">
      <div class="max-w-prose">
        <h1 class="text-5xl font-bold mb-6">{{ title }}</h1>
        <p class="text-2xl">{{ tagline }}</p>
      </div>
    </div>
  </section>

  <section class="max-w-screen-md mx-auto px-4 mb-16">
    <h2 class="text-4xl font-bold border-b border-brand-700 pb-5">
      Get started
    </h2>
    {% for s in shortcuts %}
    <a href="{{ s.url }}">
      <div
        class="py-5 text-xl border-b border-brand-700 flex gap-6 items-center"
      >
        <div class="bg-gray-300 rounded-full w-12 h-12 shrink-0"></div>
        <div>
          <h2 class="hover:text-brand-700 font-bold mb-1">
            {{ s.title }} &rsaquo;
          </h2>
          <p>{{ s.description }}</p>
        </div>
      </div>
    </a>
    {% endfor %}
  </section>

  <section class="bg-gray-100 py-16">
    <div class="max-w-screen-lg mx-auto px-4 md:flex items-center gap-10">
      <div class="md:w-1/3 mb-6 md:mb-0">
        <img
          src="{{ why_here_image }}"
          alt="{{ why_here_image_alt }}"
          class="w-full"
        />
      </div>
      <div class="markdown md:w-2/3 w-full">{{ content | safe }}</div>
    </div>
  </section>

  <section class="pt-16">
    <div class="max-w-screen-lg mx-auto px-4 md:flex items-center gap-10">
      <div class="md:w-2/3 mb-6 md:mb-0 markdown">{{ created_by | safe }}</div>
      <div class="md:w-1/3">
        <img
          src="/static/files/nesta-logo.svg"
          alt="Nesta logo"
          class="w-40 mx-auto"
        />
      </div>
    </div>
  </section>

  <section class="max-w-screen-lg mx-auto px-4 my-16">
    <h2 class="text-4xl font-bold mb-6">Supported by</h2>
    <div class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 gap-4 mb-14">
      {% for l in logos %}
      <a href="{{ l.url }}" target="_blank" rel="noopener noreferrer">
        <img
          src="{{ l.image }}"
          alt="{{ l.alt }}"
          class="w-20 md:w-32 h-20 md:h-32 mx-auto"
        />
      </a>
      {% endfor %}
    </div>
  </section>

  {% include "./partials/banner.html" %}
</main>
