---
layout: default
sticky: true
---

<main>
  <div class="container max-w-screen-xl mx-auto px-4 md:flex gap-6">
    <div class="md:w-96 md:sticky md:top-20 h-min">
      <nav class="text-gray-800 md:border-r border-gray-100 nav-sidebar">
        <p class="mb-4"><strong>Contents</strong></p>
        <ul>
          <li class="mb-4">
            <a href="#about" class="link">About this principle</a>
          </li>
          <li class="mb-4">
            <a href="#design-patterns" class="link">How to implement it</a>
          </li>
          <li class="mb-4">
            <a href="#user-considerations" class="link">User considerations</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="w-full">
      <section class="bg-gray-100 py-10 mb-14 rounded-lg">
        <div
          class="container max-w-screen-xl mx-auto px-8 flex gap-4 md:gap-6 items-center"
        >
          <img
            src="{{ icon }}"
            alt="{{ alt }}"
            class="w-16 md:w-32 h-16 md:h-32"
          />
          <div>
            <h1 class="text-5xl font-bold">{{ title }}</h1>
          </div>
        </div>
      </section>

      <section
        id="about"
        class="max-w-prose offset markdown mx-auto px-4 mb-14"
      >
        {{ content | safe }}
      </section>

      {% if patterns %}
      <section
        id="design-patterns"
        class="offset container max-w-prose mx-auto px-4 mb-16"
      >
        <h2 class="text-2xl font-bold mb-2">How to do it</h2>
        <p class="text-xl mb-10">
          Key points and assets to help build your service.
        </p>

        <ul>
          {% for p in patterns %}
          <li class="bg-indigo-100 rounded-xl p-5 mb-10">
            <h2 class="text-xl font-bold mb-3">{{ p.title }}</h2>
            <details>
              <summary class="text-indigo-700">Show details</summary>
              <div class="raw my-3">{{ p.description | safe }}</div>
              <h3 class="font-bold mb-3">Key points to consider:</h3>
              <div class="raw">{{ p.body | safe}}</div>
              {% if p.assets %}
              <h3 class="mb-1 mt-3 font-bold">Useful resources</h3>
              <ul>
                {% for a in p.assets %}
                <li class="mb-2 flex items-center justify-between">
                  <a
                    href="{{ a.file }}"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="link"
                  >
                    {{ a.title}}</a
                  >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 32 32"
                    width="28"
                    x="0px"
                    y="0px"
                  >
                    <title>file</title>
                    <g data-name="Layer 8">
                      <path
                        d="M26.32,8h0V7.43a.5.5,0,0,0-.14-.35L22.75,3.65a.49.49,0,0,0-.36-.15H8.67a.5.5,0,0,0-.5.5v6.4a5.62,5.62,0,0,0,0,11.2V28a.5.5,0,0,0,.5.5H25.82a.5.5,0,0,0,.5-.5V8Zm-1.16-.5H22.48V4.79ZM4.05,16a4.62,4.62,0,0,1,4.52-4.61h.19A4.62,4.62,0,1,1,4.05,16Zm9,3.51,5.2,5.21a.33.33,0,0,1,0,.48.34.34,0,0,1-.48,0L12.59,20C12.75,19.86,12.9,19.69,13.05,19.51Zm-3.88,8V21.6a5.63,5.63,0,0,0,2.64-.94l5.25,5.25A1.34,1.34,0,0,0,19,24l-5.35-5.35A5.56,5.56,0,0,0,14.29,16a5.64,5.64,0,0,0-5.12-5.6V4.5H21.48V8a.5.5,0,0,0,.5.5h3.34v19Z"
                      ></path>
                    </g>
                  </svg>
                </li>
                {% endfor %}
              </ul>
              {% endif %}
            </details>
          </li>
          {% endfor %}
        </ul>
      </section>
      {% endif %} {% if users %}
      <section
        id="user-considerations"
        class="offset max-w-prose mx-auto px-4 mb-16"
      >
        <h2 class="text-2xl font-bold border-b border-gray-300 pb-2 mb-10">
          Considerations for different users
        </h2>

        {% for u in users %}
        <div class="bg-gray-100 p-5 my-5 rounded-lg">
          <div class="flex items-center">
            <img
              src="{{ u.icon }}"
              alt="{{ u.alt }}"
              class="h-14 md:h-20 w-14 md:w-20 ml-4 mr-8"
            />
            <div>
              <h3 class="text-xl font-bold mb-4">{{ u.name }}</h3>
              <h3 class="text-lg font-bold mb-2">{{ u.heading }}</h3>
              <div class="raw">{{ u.details | safe }}</div>
            </div>
          </div>
        </div>
        {% endfor %}
      </section>
      {% endif %}

      <hr class="mt-10" />

      <nav class="mt-4 mb-16 flex justify-between">
        {% if previous %}
        <a href="/principles/{{ previous }}" class="link">
          <div class="flex">
            <svg
              width="24"
              height="24"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M18.5 12H6M6 12L12 6M6 12L12 18"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            Previous principle
          </div>
        </a>
        {% else %}
        <div></div>
        {% endif %} {% if next %}
        <a href="/principles/{{ next }}" class="link">
          <div class="flex">
            Next principle
            <svg
              width="24"
              height="24"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M6 12H18.5M18.5 12L12.5 6M18.5 12L12.5 18"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </a>
        {% else %}
        <div></div>
        {% endif %}
      </nav>
    </div>
  </div>
</main>
