---
layout: default
sticky: true
---

<main>
  <div class="container max-w-screen-xl mx-auto px-4 md:flex gap-6">
    <div class="md:w-96 md:sticky md:top-20 h-min">
      <nav class="text-gray-800 md:border-r border-gray-100 nav-sidebar">
        <p class="mb-4"><strong>Contents</strong></p>
        <ul>
          <li class="mb-4">
            <a href="#about" class="link">About this principle</a>
          </li>
          <li class="mb-4">
            <a href="#design-patterns" class="link">How to implement it</a>
          </li>
          <li class="mb-4">
            <a href="#user-considerations" class="link">User considerations</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="w-full">
      <section class="bg-gray-100 py-10 mb-14 rounded-lg">
        <div
          class="container max-w-screen-xl mx-auto px-8 flex gap-4 md:gap-6 items-center"
        >
          <img
            src="{{ icon }}"
            alt="{{ alt }}"
            class="w-16 md:w-32 h-16 md:h-32"
          />
          <div>
            <h1 class="text-5xl font-bold">{{ title }}</h1>
          </div>
        </div>
      </section>

      <section
        id="about"
        class="max-w-prose offset markdown mx-auto px-4 mb-14"
      >
        {{ content | safe }}
      </section>

      {% if patterns %}
      <section
        id="design-patterns"
        class="offset container max-w-prose mx-auto px-4 mb-16"
      >
        <h2 class="text-2xl font-bold mb-2">How to do it</h2>
        <p class="text-xl mb-10">
          Key points and assets to help build your service.
        </p>

        <ul>
          {% for p in patterns %}
          <li class="bg-indigo-100 rounded-xl p-5 mb-10">
            <h2 class="text-xl font-bold mb-3">{{ p.title }}</h2>
            <details>
              <summary class="text-indigo-700">Show details</summary>
              <div class="raw mt-3">{{ p.description | safe }}</div>
              {% if p.assets %}
              <h3 class="mb-1 mt-3 font-bold">Useful resources</h3>
              <ul class="text-sm">
                {% for a in p.assets %}
                <li class="mb-1">
                  <a
                    href="{{ a.file }}"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="link"
                  >
                    <svg
                      width="16"
                      height="16"
                      stroke-width="1.5"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      class="inline-block"
                    >
                      <path
                        d="M21.4383 11.6622L12.2483 20.8522C11.1225 21.9781 9.59552 22.6106 8.00334 22.6106C6.41115 22.6106 4.88418 21.9781 3.75834 20.8522C2.63249 19.7264 2 18.1994 2 16.6072C2 15.015 2.63249 13.4881 3.75834 12.3622L12.9483 3.17222C13.6989 2.42166 14.7169 2 15.7783 2C16.8398 2 17.8578 2.42166 18.6083 3.17222C19.3589 3.92279 19.7806 4.94077 19.7806 6.00222C19.7806 7.06368 19.3589 8.08166 18.6083 8.83222L9.40834 18.0222C9.03306 18.3975 8.52406 18.6083 7.99334 18.6083C7.46261 18.6083 6.95362 18.3975 6.57834 18.0222C6.20306 17.6469 5.99222 17.138 5.99222 16.6072C5.99222 16.0765 6.20306 15.5675 6.57834 15.1922L15.0683 6.71222"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>

                    {{ a.title}}</a
                  >
                </li>
                {% endfor %}
              </ul>
              {% endif %}
            </details>
          </li>
          {% endfor %}
        </ul>
      </section>
      {% endif %} {% if users %}
      <section
        id="user-considerations"
        class="offset max-w-prose mx-auto px-4 mb-16"
      >
        <h2 class="text-2xl font-bold border-b border-gray-300 pb-2 mb-10">
          Considerations for different users
        </h2>

        {% for u in users %}
        <div class="bg-gray-100 p-5 my-5 rounded-lg">
          <div class="flex items-center">
            <img
              src="{{ u.icon }}"
              alt="{{ u.alt }}"
              class="h-14 md:h-20 w-14 md:w-20 ml-4 mr-8"
            />
            <div>
              <h3 class="text-xl font-bold mb-4">{{ u.name }}</h3>
              <h3 class="text-lg font-bold mb-2">{{ u.heading }}</h3>
              <div class="raw">{{ u.details | safe }}</div>
            </div>
          </div>
        </div>
        {% endfor %}
      </section>
      {% endif %}

      <hr class="mt-10" />

      <nav class="mt-4 mb-16 flex justify-between">
        {% if previous %}
        <a href="/principles/{{ previous }}" class="link">
          <div class="flex">
            <svg
              width="24"
              height="24"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M18.5 12H6M6 12L12 6M6 12L12 18"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            Previous principle
          </div>
        </a>
        {% else %}
        <div></div>
        {% endif %} {% if next %}
        <a href="/principles/{{ next }}" class="link">
          <div class="flex">
            Next principle
            <svg
              width="24"
              height="24"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M6 12H18.5M18.5 12L12.5 6M18.5 12L12.5 18"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </a>
        {% else %}
        <div></div>
        {% endif %}
      </nav>
    </div>
  </div>
</main>
