---
layout: default
---

<main>
  <section class="max-w-screen-lg mx-auto px-4 my-4">
    <h1 class="text-5xl font-bold mt-20 mb-14">{{ title }}</h1>

    <section class="markdown max-w- mb-14">{{ content | safe }}</section>

    <ol class="list-decimal list-counter mb-16">
      {% for principle in collections.principles %}
      <li>
        <a
          href="{{ principle.url | url }}"
          class="flex bg-blue-100 hover:bg-blue-200 p-5 rounded-md ml-20 mb-10"
        >
          <img
            src="{{ principle.data.icon}}"
            alt=""
            class="md:w-32 w-16 md:h-32 h-16 mr-6"
          />
          <div class="flex flex-col justify-center">
            <h2 class="text-xl text-lg font-bold mb-2">
              {{ principle.data.title }}
            </h2>
            <p class="md:text-lg text-base">{{ principle.data.tagline }}</p>
          </div>
        </a>
      </li>
      {% endfor %}
    </ol>
  </section>

  {% include "./partials/banner.html" %}
</main>
