@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

.markdown * {
  @apply mb-5;
}
.markdown *:last-child {
  @apply mb-0;
}
.markdown h1 {
  @apply text-3xl font-bold;
}
.markdown h2 {
  @apply text-2xl font-bold;
}
.markdown h3 {
  @apply text-xl font-bold;
}
.markdown h4,
.markdown h5,
.markdown h6,
.markdown li,
.markdown p {
  @apply text-lg;
}
.markdown li,
.raw li {
  @apply list-disc ml-4 mb-2;
}
.markdown a,
.raw a {
  @apply underline hover:no-underline text-blue-700;
}
.markdown blockquote {
  @apply p-2 bg-gray-100;
}

.markdown.markdown-table {
  @apply flex flex-wrap md:justify-end;
}
.markdown.markdown-table h2 {
  @apply md:w-1/4 md:shrink-0;
}
.markdown.markdown-table p,
.markdown.markdown-table ul,
.markdown.markdown-table ol {
  @apply md:w-3/4 md:shrink-0;
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}

.offset:before {
  display: block;
  content: " ";
  height: 96px;
  margin-top: -96px;
  visibility: hidden;
}

.list-counter {
  list-style: none;
  counter-reset: list-number;
}
.list-counter li {
  counter-increment: list-number;
  position: relative;
}
.list-counter li::after {
  content: counter(list-number);
  border: 2px solid #898989;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 28px);
  left: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1.5rem;
  background: #fff;
}

.list-counter li:before {
  position: absolute;
  left: 28px;
  top: calc(50% + 28px);
  content: "";
  height: 100%;
  width: 0;
  border-left: 1px solid #c1c1c1;
}
.list-counter li:last-of-type:before {
  border: none;
}

.link {
  color: #0000ff;
  text-decoration: underline;
}
.link:hover {
  text-decoration: none;
}

@media (min-width: 768px) {
  .nav-sidebar {
    height: calc(100vh - 155px);
  }
}
